<nav class="topnav">
  <img src="assets/hamburger_24px.svg" (click)="showMenu = !showMenu"><h1>{{title}}</h1>
</nav>

<nav class="sidenav" [class.hidemenu]="!showMenu">
  <div class="search"><input [(ngModel)]="filter" placeholder="Search..."></div>

  <ng-template ngFor let-package [ngForOf]="packages">
    <div *ngIf="filteredPackage(package)">
      <div class="package"><b>{{package.name}}</b></div>
      <ng-template ngFor let-group [ngForOf]="package.groups">
        <div *ngIf="filteredGroup(group)">
          <div class="group" (click)="group.hidden = !group.hidden">{{typeKindNames[group.kind]}}<img src="assets/eye_24px.svg" *ngIf="!group.hidden"><img src="assets/eye_off_24px.svg" *ngIf="group.hidden"></div>
          <ul class="types" [hidden]="group.hidden">
          <li *ngFor="let member of (group | nameFilter:filter)" class="type"
            [class.selected]="member.type?.id === selectedType"
            [routerLink]="['/type', member.type?.id]"
            (click)="showMenu = false">
            {{member.name}}
          </li>
          </ul>
        </div>
      </ng-template>
    </div>
  </ng-template>
</nav>

<article>
    <router-outlet></router-outlet>
</article>
