<div *ngIf="type">
  <h2>{{type.kind}} {{type.name}}</h2>
  <p *ngIf="type.superclass">extends <type-ref [type]="type.superclass"></type-ref>
  <ng-container *ngIf="type.superinterfaces.length > 0">implements <ng-container *ngFor="let iface of type.superinterfaces; let isLast = last"><type-ref [type]="iface"></type-ref><div *ngIf="!isLast" class="sep">, </div></ng-container></ng-container>
  </p>
  <p>
  <ng-container *ngIf="type.subtypes">Direct subtypes: <ng-container *ngFor="let subtype of type.subtypes; let isLast = last"><type-ref [type]="subtype"></type-ref><div *ngIf="!isLast" class="sep">, </div></ng-container></ng-container>
  </p>
  <div *ngIf="type.doc">
    <p [innerHTML]="type.doc.description">

    <p *ngIf="type.doc.astdecl"><ast-decl [decl]="type.doc.astdecl"></ast-decl>

    <p *ngIf="type.doc.ragFile"><declared-at [doc]="type.doc"></declared-at>
  </div>
  <div class="filter">
    <input [(ngModel)]="filter" placeholder="Filter members...">
    <button (click)="clearFilter()" [hidden]="filter === ''">Clear filter</button>
  </div>

  <div *ngIf="filteredMembers('constr'); let members">
  <h3>Constructors</h3>
  <ul class="members">
    <li *ngFor="let member of members">
      <details>
      <summary>
      <div class="doc-signature"><span class="member-name">{{member.name}}</span> ( <parameters [params]="member.parameters"></parameters> )
        <div class="doc-preview" *ngIf="member.doc" [innerHTML]="member.doc.description"></div></div>
      </summary>

      <div class="member-details">
      <p *ngIf="member.doc" [innerHTML]="member.doc.description"></p>
      <p *ngIf="member.doc && member.doc.ragFile"><declared-at [doc]="member.doc"></declared-at>
      <p *ngFor="let param of member.parameters; let index = index"><b>Parameter {{index+1}}</b> <type-ref [type]="param.type"></type-ref> <b>{{param.name}}</b><span *ngIf="member.doc" [innerHTML]="paramDesc(member.doc, param.name)"></span></p>
      <p *ngIf="member.throws">Throws <ng-container *ngFor="let excp of member.throws; let isLast=last"><type-ref [type]="excp"></type-ref><div *ngIf="!isLast" class="sep">, </div></ng-container></p>
      </div>
      </details>
    </li>
  </ul>
  </div>

  <div *ngIf="filteredMembers('attr'); let members">
  <h3>Attributes</h3>
  <ul class="members">
    <li *ngFor="let member of members">
      <details>
      <summary>
      <div class="doc-signature"><div class="member-type"><span *ngIf="member.doc" class="attribute-kind">{{member.doc!.attribute}}</span> <type-ref [type]="member.type!"></type-ref></div> <span class="member-name">{{member.name}}</span> ( <parameters [params]="member.parameters"></parameters> )
        <div class="doc-preview" *ngIf="member.doc" [innerHTML]="member.doc!.description"></div></div>
      </summary>

      <div class="member-details">
      <p *ngIf="member.doc" [innerHTML]="member.doc.description"></p>
      <p *ngIf="member.doc && member.doc.ragFile"><declared-at [doc]="member.doc"></declared-at>
    <p *ngFor="let param of member.parameters; let index = index"><b>Parameter {{index+1}}</b> <type-ref [type]="param.type"></type-ref> <b>{{param.name}}</b><span *ngIf="member.doc" [innerHTML]="paramDesc(member.doc, param.name)"></span></p>
      <p><b>Returns</b> <type-ref [type]="member.type!"></type-ref><ng-container *ngIf="member.doc && member.doc.return"> : <span class="return" *ngIf="member.doc" [innerHTML]="member.doc.return"></span></ng-container>
      </div>
      </details>
    </li>
  </ul>
  </div>

  <div *ngIf="type.inherited_attributes">
    <ng-container *ngFor="let inherited of type.inherited_attributes">
      <ng-container *ngIf="inheritedMembers(inherited)">
      <h3>Attributes inherited from <type-ref [type]="inherited.superclass"></type-ref></h3>
      <ng-container *ngFor="let member of inherited.members | stringFilter:filter; let isLast = last"><type-ref [type]="inherited.superclass" [name]="member" [filter]="member"></type-ref><ng-container *ngIf="!isLast">, </ng-container></ng-container>
      </ng-container>
    </ng-container>
  </div>

  <div *ngIf="filteredMembers('field'); let members">
  <h3>Fields</h3>
  <ul class="members">
    <li *ngFor="let member of members">
      <details>
      <summary>
      <div class="doc-signature"><div class="member-type"><type-ref [type]="member.type!"></type-ref></div> <span class="member-name">{{member.name}}</span>
        <div class="doc-preview" *ngIf="member.doc" [innerHTML]="member.doc!.description"></div></div>
      </summary>

      <p *ngIf="member.doc" [innerHTML]="member.doc.description"></p>
      <p *ngIf="member.doc && member.doc.ragFile"><declared-at [doc]="member.doc"></declared-at>
      </details>
    </li>
  </ul>
  </div>

  <div *ngIf="type.inherited_fields">
    <ng-container *ngFor="let inherited of type.inherited_fields">
      <ng-container *ngIf="inheritedMembers(inherited)">
      <h3>Fields inherited from <type-ref [type]="inherited.superclass"></type-ref></h3>
      <ng-container *ngFor="let member of (inherited.members | stringFilter:filter); let isLast = last"><type-ref [type]="inherited.superclass" [name]="member" [filter]="member"></type-ref><ng-container *ngIf="!isLast">, </ng-container></ng-container>
      </ng-container>
    </ng-container>
  </div>

  <div *ngIf="filteredMembers('method'); let members">
  <h3>Methods</h3>
  <ul class="members">
    <li *ngFor="let member of members">
      <details>
      <summary>
      <div class="doc-signature"><div class="member-type"><type-ref [type]="member.type!"></type-ref></div> <span class="member-name">{{member.name}}</span> ( <parameters [params]="member.parameters"></parameters> )
        <div class="doc-preview" *ngIf="member.doc" [innerHTML]="member.doc.description"></div></div>
      </summary>

      <div class="member-details">
      <p *ngIf="member.doc" [innerHTML]="member.doc.description"></p>
      <p *ngIf="member.doc && member.doc.ragFile"><declared-at [doc]="member.doc"></declared-at>
      <p *ngFor="let param of member.parameters; let index = index"><b>Parameter {{index+1}}</b> <type-ref [type]="param.type"></type-ref> <b>{{param.name}}</b><span *ngIf="member.doc" [innerHTML]="paramDesc(member.doc, param.name)"></span></p>
      <p *ngIf="!member.isVoid"><b>Returns</b> <type-ref [type]="member.type!"></type-ref><ng-container *ngIf="member.doc && member.doc.return"> : <span class="return" *ngIf="member.doc" [innerHTML]="member.doc.return"></span></ng-container>
      <p *ngIf="member.throws">Throws <ng-container *ngFor="let excp of member.throws; let isLast=last"><type-ref [type]="excp"></type-ref><div *ngIf="!isLast" class="sep">, </div></ng-container></p>
      </div>
      </details>
    </li>
  </ul>
  </div>

  <div *ngIf="type.inherited_methods">
    <ng-container *ngFor="let inherited of type.inherited_methods">
      <ng-container *ngIf="inheritedMembers(inherited)">
      <h3>Methods inherited from <type-ref [type]="inherited.superclass"></type-ref></h3>
      <ng-container *ngFor="let member of (inherited.members | stringFilter:filter); let isLast = last"><type-ref [type]="inherited.superclass" [name]="member" [filter]="member"></type-ref><ng-container *ngIf="!isLast">, </ng-container></ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>
