/* You can add global styles to this file, and also import other style files */
@import "../node_modules/codemirror/lib/codemirror.css";

.CodeMirror{
	height: auto;
}

a:hover {
  background: #ff4;
}
::selection {
  background: #ff4;
}
